<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - Nils's website</title>
    {% if page.layout == "post" -%}
      <link rel="stylesheet" type="text/css" href="/assets/css/highlighting.css">
    {%- endif %}
  </head>
  <body>
    <header>
      <h1><a href="/">Nils's website</a></h1>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      &copy; <a href="https://www.nilsand.re/">Nils André</a>
    </footer>
    <script src="//instant.page/1.2.2" type="module" integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU"></script>
  </body>
</html>
