<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>&#x200F;Nils's website - {{ page.title }}</title>
    {% if page.layout == "post" -%}
      <link rel="stylesheet" type="text/css" href="/assets/css/highlighting.css">
    {%- endif %}
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css">
    <link rel="alternate" type="application/atom+xml" title="Nils's blog RSS" href="feed.xml">
  </head>
  <body>
    <header>
      <h1><a href="/">Nils's website</a></h1>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      &copy; 2021, 2024-2025 <a href="https://www.nilsand.re/">Nils André</a>
    </footer>
  </body>
</html>
